<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1 class="product__title" style="font-size: 23px;">
            Select a Table:
        </h1>
        <nav class="main-header__nav">
            <ul class="main-subheader__item-list">
                <li class="main-subheader__item">
                    <a href="/view/employee-info">Employee Personal Information</a>
                </li>
                <li class="main-subheader__item">
                    <a href="/view/salaries">Salaries</a>
                </li>
                <li class="main-subheader__item">
                    <a href="/view/hours">Monthly Employee Info</a>
                </li>
                <li class="main-subheader__item">
                    <a href="/view/job-assignments">Job Assignments</a>
                </li>
                <li class="main-subheader__item">
                    <a href="/view/flight-assignments">Flight Assignments</a>
                </li>
                <li class="main-subheader__item">
                    <a href="/view/positions">Positions</a>
                </li>
                <li class="main-subheader__item">
                    <a href="/view/field">Fields</a>
                </li>
                <li class="main-subheader__item">
                    <a href="/view/locations">Locations</a>
                </li>
                <li class="main-subheader__item">
                    <a href="/view/benefits-employee">Employee Benefits</a>
                </li>
                <li class="main-subheader__item">
                    <a href="/view/benefits">Types of Benefits</a>
                </li>
                <li class="main-subheader__item">
                    <a href="/view/vacations">Vacations</a>
                </li>
                <li class="main-subheader__item">
                    <a href="/view/flight-information">Flights</a>
                </li>
            </ul>
        </nav>
    </main>
<%- include('../includes/end.ejs') %>